@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #333333;
  --primary-fg: #009595;
  --primary-bg: #e0f7f7;
  --primary-hover-bg-2: #007070;
  --primary-press-bg-2: #004a4a;

  --success-default-fg-1: #17b24a;
  --success-default-bg-1: #e3f6e9;
  --error-fg: #d61e20;
  --error-bg: #fae4e4;
  --info-default-fg-1: #0172b4;
  --info-hover-fg-1: #015687;
  --info-press-fg-1: #00395a;
  --info-disable-fg-1: #99d2f3;

  --neutral-default-1: #7f7f7f;
  --neutral-default-2: #cccccc;
  --neutral-default-3: #e6e6e6;
  --neutral-hover-2: #b3b3b3;
  --neutral-press-2: #999999;
  --neutral-disable-fg-1: #cccccc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);

  --color-primary-fg: var(--primary-fg);
  --color-primary-bg: var(--primary-bg);
  --color-primary-hover-bg-2: var(--primary-hover-bg-2);
  --color-primary-press-bg-2: var(--primary-press-bg-2);

  --color-success-default-fg-1: var(--success-default-fg-1);
  --color-success-default-bg-1: var(--success-default-bg-1);
  --color-error-fg: var(--error-fg);
  --color-error-bg: var(--error-bg);

  --color-info-default-fg-1: var(--info-default-fg-1);
  --color-info-hover-fg-1: var(--info-hover-fg-1);
  --color-info-press-fg-1: var(--info-press-fg-1);
  --color-info-disable-fg-1: var(--info-disable-fg-1);

  --color-neutral-default-1: var(--neutral-default-1);
  --color-neutral-default-2: var(--neutral-default-2);
  --color-neutral-default-3: var(--neutral-default-3);
  --color-neutral-hover-2: var(--neutral-hover-2);
  --color-neutral-press-2: var(--neutral-press-2);
  --color-neutral-disable-fg-1: var(--neutral-disable-fg-1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
